<h3>Numbers to Words</h3>
<form action='/results'>
  <div class="form-group">
    <label for="entered_word">Give us your number</label>
    <input id="entered_word" name="entered_word" class="form-control" type="text" autofocus>
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
